<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="ALGO TRADING">
	<meta name="author" content="PROFINANCE CORNER">
	<meta name="robots" content="">
	<meta name="description" content="Profinance corner offers you free Algo Trading Software with free paper trading feature, Profitable Strategies Automation, Backtesting ,Create your Strategies and Automate it and many more.">
	<meta property="og:title" content="PROFINANCE CORNER | FREE ALGO TRADING PLATFORM">
	<meta property="og:description" content="ALGO TRADING">
	<meta property="og:image" content="">
	<meta name="format-detection" content="telephone=Yes">
	
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Title -->
    <title>PROFINANCE CORNER | FREE ALGO TRADING PLATFORM</title>

	<!-- Favicon icon -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	
	<!-- Stylesheet -->
	<link href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="vendor/animate/animate.css" rel="stylesheet">

	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">

</head>
<body>

<!--*******************
        Preloader start
    ********************-->
    <div id="loader">
	</div>
    <!--*******************
        Preloader end
    ********************-->
	
<div class="page-wraper">

	<!-- Header -->
	<header class="site-header mo-left header header-transparent style-1">

		<!-- Main Header -->
		<div class="sticky-header main-bar-wraper navbar-expand-lg">
			<div class="main-bar clearfix">
				<div class="container clearfix">

					<!-- Website Logo -->
					<div class="logo-header" style="margin-top:-2%;">
						<a href="index.html" class="logo-dark"><img src="images/logo.png" alt=""></a>
						<a href="index.html" class="logo-light"><img src="images/logo-white.png" alt=""></a>
					</div>
					
					<!-- Nav Toggle Button Strat -->
					<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<!-- Nav Toggle Button End -->
					
					<!-- Extra Nav Start -->
					<div class="extra-nav" style="margin-top:-2%;">
						<div class="extra-cell">
							<a class="btn btn-outline-primary text-white" target="_blank" href="https://trade-panel.tradearth.in/signin">Login</a>
							<a class="btn btn-outline-primary text-white" target="_blank" href="https://trade-panel.tradearth.in/signup?referal_code=ABUP1156">Register</a>
						</div>
					</div>
					<!-- Extra Nav End -->
						
					<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
						
						<!-- Mobile Sidebar Logo -->
						<div class="logo-header mostion">
							<a href="index.html" class="logo-dark"><img src="images/ATW/mobile_logo.png" alt=""></a>
						</div>
						
						<!-- Navbar nav -->
						<ul class="nav navbar-nav navbar" style="margin-top:-3%;">
							<li><a href="index.html">Home</a></li>
							<!--li><a href="marketplace.html">Marketplace</a></li-->
							<li><a href="pricing.html">Pricing</a></li>
							<!-- <li class="sub-menu-down"><a href="javascript:void(0);">Blog</a>
								<ul class="sub-menu">
									<li><a href="blog-list.html">Blog list</a></li>-->
									<!--li><a href="blog-grid.html">Blog</a></li-->
									<!-- <li><a href="blog-details.html">Blog details</a></li>
								</ul>
							</li>-->
							<li><a href="about-us.html">About Us</a></li>
							<li><a href="contact-us.html">Contact Us</a></li>
						</ul>
						
						 <!--Mobile Sidebar bottom-->
						<div class="header-bottom">
							<div class="dz-social-icon">
						    	<a class="btn btn-lg btn-gradient btn-primary btn-shadow" target="_blank" href="https://trade-panel.tradearth.in/signin" style="line-height: 2; padding: 30px 50px; font-size: 15px; margin-bottom: 10%; margin-right:2%;">Login</a>
						    	<a class="btn btn-lg btn-gradient btn-primary btn-shadow" target="_blank" href="https://trade-panel.tradearth.in/signup?referal_code=ABUP1156" style="line-height: 2; padding: 30px 55px; font-size: 15px; margin-bottom: 10%; margin-left:2%;">Register</a>
								<ul>
                                    <li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/profinance_corner_"></a></li>
									<li><a target="_blank" class="fab fa-telegram" href="https://t.me/profinancecornerofficial"></a></li>
									<li><a target="_blank" class="fab fa-facebook" href="https://www.facebook.com/profinance corner"></a></li>
									<li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/profinance corner"></a></li>
									<li><a target="_blank" class="fab fa-youtube" href="https://youtube.com/@profinance corner"></a></li>
								</ul>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Header End -->

	</header>
	<!-- Header -->
	
	<!-- Page Content Start -->
	<div class="page-content">

		<!-- Banner start -->
		<div class="dz-bnr-inr style-1 text-center">
			<div class="container" style="margin-top:0px;">
				<div class="dz-bnr-inr-entry">
					<h1>Contact Us</h1>
					<!-- Breadcrumb Row -->
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
						</ul>
					</nav>
					<!-- Breadcrumb Row End -->
				</div>
			</div>
			<img class="bg-shape1" src="images/home-banner/shape1.png" alt="">
			<img class="bg-shape2" src="images/home-banner/shape1.png" alt="">
			<img class="bg-shape3" src="images/home-banner/shape3.png" alt="">
			<img class="bg-shape4" src="images/home-banner/shape3.png" alt="">
		</div>
		<!-- Banner End -->


		<!-- Contact form sectio starts from here -->
		<section class="content-inner contact-form-wraper style-1">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-5 col-lg-5 m-b30">
						<div class="info-box">
							<div class="info">
								<h2>Contact Information</h2>
								<p class="font-18">Fill up the form and our team will get back to you within 24 hours.</p>
							</div>
							
							<div class="widget widget_about">
								<div class="widget widget_getintuch">
									<ul>
										<li>
											<i class="fa fa-phone"></i>
											<span>+91 90398-22133<br>+91 8269240464</span> 
										</li>
										<li>
											<i class="fa fa-envelope"></i> 
											<span>profinancecorner@gmail.com </span>
										</li>
										<!--<li>
											<i class="fas fa-map-marker-alt"></i>
											<span>Greater Noida<br>Uttar Pradesh, INDIA</span>
										</li>-->
									</ul>
								</div>
							</div>


							<div class="social-box dz-social-icon style-3">
								<h6>Our Socials</h6>
								<ul class="social-icon">
								    <li><a class="social-btn" target="_blank" href="https://www.instagram.com/profinance_corner_/"><i class="fa-brands fa-instagram"></i></a></li>
								    <li><a class="social-btn" target="_blank" href="https://t.me/profinancecornerofficial/"><i class="fa-brands fa-telegram"></i></a></li>
									<li><a class="social-btn" target="_blank" href="https://www.facebook.com/Profinance corner/"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a class="social-btn" target="_blank" href="https://twitter.com/Profinance corner/"><i class="fa-brands fa-twitter"></i></a></li>
									<li><a class="social-btn" target="_blank" href="https://youtube.com/@Profinance corner/"><i class="fab fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
						
					<div class="col-xl-7 col-lg-7">
						<div class="contact-box">
							<div class="card">
								<div class="card-body">
									<div class="mb-4">
										<h2 class="mb-0">Get In touch</h2>
										<p class="mb-0 font-18 text-primary">We are here for you. How we can help?</p>
									</div>
									<form class="dzForm" method="POST" name="google-sheet" action="script/contact_smtp.php">
										<div class="dzFormMsg"></div>
										<input type="hidden" class="form-control" name="dzToDo" value="Contact" >
										
										<div class="row">
											<div class="col-xl-6 mb-3 mb-md-4">
												<input name="First Name" required type="text" class="form-control" placeholder="First Name">
											</div>
											<div class="col-xl-6 mb-3 mb-md-4">
												<input name="Last Name" type="text" class="form-control" placeholder="Last Name">
											</div>
											<div class="col-xl-6 mb-3 mb-md-4">
												<input name="Email" required type="text" class="form-control" placeholder="Email Address">
											</div>
											<div class="col-xl-6 mb-3 mb-md-4">
												<input name="Mobile" required type="text" class="form-control" placeholder="Phone No.">
											</div>
											<div class="col-xl-12 mb-3 mb-md-4">
												<textarea name="Message" required class="form-control" placeholder="Message"></textarea>
											</div>
											<div class="col-xl-12 mb-3 mb-md-4">
												
											<div class="col-xl-12">
												<input name="submit" type="submit" value="Submit" class="btn btn-primary">								
											</div>
											<script>
                                            const scriptURL = 'https://script.google.com/macros/s/AKfycbzBq8_UklJwXiqaIa3RZW9mP3wzmlI6hkSuNaG2EIjnhYWcU-JFpsuIg2IW4sFM4JG2/exec'
                                            const form = document.forms['google-sheet']
          
                                            form.addEventListener('submit', e => {
                                            e.preventDefault()
                                            fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                                            .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon..."))
                                            .catch(error => console.error('Error!', error.message))
                                                })
                                            </script>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Contact form section ends from here -->


    </div>
	<!-- Page Content End -->


	<!-- Footer -->
	<footer class="site-footer style-1" id="footer">
		<img class="bg-shape1" src="images/home-banner/shape1.png" alt="">

		<div class="footer-top background-luminosity" style="background-image: url(images/background/bg1.jpg);">
			<div class="container" style="margin-top:-4%; margin-bottom:-4%;">
				<div class="row">
					<div class="col-xl-4 col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
						<div class="widget widget_about">
							<div class="footer-logo logo-white">
								<a href="index.html"><img src="images/logo-white.png" alt=""></a>
							</div>
							<p>At Profinance corner, we offer a budget-friendly trading platform designed to make trading easy for everyone. Our platform comes with pre-tested strategies that are ready to use,
								 ensuring real-time execution without any delays.. With real-time execution and no delays, trading has never been easier!</p>
							<div class="dz-social-icon transparent space-10">
								<ul>
                                    <li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/profinance_corner_"></a></li>
									<li><a target="_blank" class="fab fa-telegram" href="https://t.me/profinancecornerofficial"></a></li>
									<li><a target="_blank" class="fab fa-facebook" href="https://www.facebook.com/profinance corner"></a></li>
									<li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/profinance corner"></a></li>
									<li><a target="_blank" class="fab fa-youtube" href="https://youtube.com/@profinance corner"></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
						<div class="widget widget_services">
							<h4 class="widget-title">Other Links</h4>
							<ul>
								<li><a href="about-us.html">About Us</a></li>
								<li><a href="faqs.html">FAQs</a></li>
								<li><a href="privacy-policy.html">Privacy Policy</a></li>
								<li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
								<li><a href="Disclaimer.html">Disclaimer</a></li>
								<li><a href="Refund-Policy.html">Refund Policy</a></li>
							</ul>
						</div>
					</div>
					<!--div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="widget recent-posts-entry">
							<h4 class="widget-title">Blog Posts</h4>
							<div class="widget-post-bx">
								<div class="widget-post clearfix">
									<div class="dz-info">
										<h6 class="title"><a href="blog-details.html">What is Algo Trading.</a></h6>
										<span class="post-date"> February 11, 2023</span>
									</div>
								</div>
								<div class="post-separator"></div>
								<div class="widget-post clearfix">
									<div class="dz-info">
										<h6 class="title"><a href="blog-details.html">How to Start Algo Trading.</a></h6>
										<span class="post-date"> January 24, 2023</span>
									</div>
								</div>
							</div>
						</div>
					</div-->
					<div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
						<div class="widget widget_locations">
							<h4 class="widget-title">Reach Us</h4>
							<div class="clearfix">
								<h8>
									<li><a href="tel:9039822133"><i class="fa fa-phone" aria-hidden="true" style="padding-right: 6px; padding-top: 5px;"></i></a>+91 9039822133
                                    </li>
                                    <li><a href="tel:8269240464"><i class="fa fa-phone" aria-hidden="true" style="padding-right: 6px; padding-top: 5px;"></i></a>+91 8269240464</li>
                                    <li><a href="mailto:profinancecorner@gmail.com"><i class="fa fa-envelope-open" aria-hidden="true" style="padding-right: 6px; padding-top: 5px;"></i></a>Profinancecorner@gmail.com</li>
                                <!--</h8>
                                <div class="clearfix" style="margin-top: 10%;">
								<h6 class="title">Uttar Pradesh</h6>
								<p>Commercial Belt, Greater Noida, UP-201310, INDIA</p>
								<!--<img src="images/footer/world-map-with-flags1.png" alt="">-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Footer Bottom Part -->
		<div class="footer-bottom text-center" style="margin-top:-1%; margin-bottom:-2%;">
			<div class="container">
				<span class="copyright-text">Copyright © 2024 <a href="" target="_blank">Profinance corner</a>. All rights reserved.</span>
			</div>
		</div>
	</footer>
	<!-- Footer End 
		        <a href="tel:919039822133"
            style="position:fixed;z-index: 999; display: block; bottom:18%; right: 5px;">
            <img src="images/ATW/call.png" style="width: 70px;">
            </a>
    
            <a href="https://wa.me/919039822133?text=Hi PROFINANCE CORNER! I am interested."
            style="position:fixed;z-index: 999; display: block; bottom:10%; right: 5px;">
            <img src="images/ATW/wa.png" style="width: 70px;">
            </a>

	<!-- Bottom to top -->
	<button class="scroltop icon-up" type="button"><i class="fas fa-arrow-up"></i></button>
	
</div>

<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- WOW.JS -->
<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="vendor/wow/wow.js"></script><!-- WOW.JS -->
<script src="js/custom.js"></script><!-- CUSTOM JS -->
</body>
</html>