*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#F6F6F6;
    scroll-behavior: smooth;

}
.main-container{
    width: 100%;
    height: 100vh;
    background-color:#F6F6F6;
}
.nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: aliceblue;
}
.logo{
    display: flex;
    gap: 7px;
}
.logo h1 span{
font-family: Rubik;
color: #0B132A;
}
.nav-menu{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu a{
    font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 18.96px;
text-align: left;
color: #4F5665;
text-decoration: none;
transition: 0.5s;
}
.nav-menu a:hover{
    font-size: 18px;
}
.nav-bnt{
    width: 300px;
    height: 45px;
}
.nav-btn button{
    width: 150px;
    height: 45px;
   
    gap: 0px;
    border-radius: 40px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Rubik;
font-size: 16px;
font-weight: 500;
line-height: 18.96px;
transition: 0.5s;

    
}
.sign-in{
    border: 1px solid black;
    color: black;
}
.sign-in:hover{
    border: 1px solid #6197cb;
    color: #6197cb;
    font-size: 18px;
}   

.sign-up{
    border: 1px solid #F53855;
    color: #F53855;
}
.sign-up:hover{
    border: 1px solid rgb(117, 144, 74);
    color: rgb(117, 144, 74);
    font-size: 18px;
}
.illustration-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fbfbfb;
    
}
.illustration-1-text{
    width: 500px;
height: 382.44px;
display: flex;
flex-direction: column;
justify-content: center;
gap: 20px;

}
.illustration-h1{
    font-family: Rubik;
font-size: 18px;
font-weight: 500;
line-height: 50px;
text-align: left;
color: #0B132A;
}
.illustration-1-p{
    font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
.btn button{
    width: 200px;
height: 50.29px;
top: 476.77px;
left: 150px;
gap: 0px;
border-radius: 10px;
opacity: 0px;
background: #F53838;
border: none;
font-family: Rubik;
font-size: 16px;
font-weight: 700;
line-height: 25px;
color: #fff;
transition: 0.5s;

}
.btn button:hover{
    border: 1px solid #F53838;
    color: #F53838;
    background-color: white;
    font-size: 18px;
}
.userr{
    margin-top: 50px;
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;  
    margin-bottom: 90px;  
}


.users{
    width: 1140px;
height: 100px;
display: flex;
justify-content: space-around;
align-items: center;
gap: 0px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;
background-color: #fff;
}
.user{
    width: 150px;
    display: flex;
    gap: 20px;
}
.plan{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plan-text{
width: 555px;
text-align: center;
}
.plan-text h1{
    margin-bottom: 10px;
}
.plann-p{
    display: flex;
    
    gap: 20px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
color: #4F5665;    
}

.all-plannn{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.all-plan{
    width: 350px;
height: 580px;


gap: 0px;
border-radius: 10px 0px 0px 0px;
border: 2px solid #DDDDDD;
opacity: 0px;
background-color: #fff;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.plann-h1{
    font-family: Rubik;
font-size: 18px;
font-weight: 500;
line-height: 30px;
text-align: center;
color: #0B132A;
}
.plann{
    display: flex;
    
    flex-direction: column;
    gap: 10px;
}
.all-plann-btn{
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.all-plann-btn-h1{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
color: #0B132A;    
}
.plann-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.map-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.testomonial{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}
.testomonial-user{
    width: 370px;
height: 200px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
gap: 0px;
border-radius: 10px ;
border: 2px gray solid;
opacity: 0px;

}
.usr-details-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.user-details{
    width: 182px;
    display: flex;
    justify-content: space-between;
}
.user-rating{
    display: flex;
}
.user-name h2{
    font-family: Rubik;
font-size: 18px;
font-weight: 500;
line-height: 20px;
text-align: center;
color: #0B132A;
}
.user-name p{
    font-family: Rubik;
font-size: 14px;
font-weight: 400;
line-height: 30px;
text-align: center;
color: #4F5665;
}
.user-pra p{

    font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #0B132A;
}
.color{
    border: 2px red solid;
  
}
.scroll{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.scroll-right{
    display: flex;
}
.scrool-red-btn{
padding-bottom: 100px;
}
.suscribe{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

}
.suscribee{
    width: 840px;
    height: 200px;
    box-shadow: 0px 0px 0px 0.5px gray;
    border-radius: 10px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    
}
.suscribee-text{
    display: flex;
flex-direction: column;
gap: 8px;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color:#F6F6F6;

}
.company-h1 h1{
    font-family: Rubik;
font-size: 24px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #0B132A;
}
.company-p{
        padding-top: 10px;

}
.company-p p{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
}
.ficon i{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}
.copyright{
    color: #AFB5C0;
}
